*{
    box-sizing: border-box;
}
/* ----- Texts ---------------------------------------------------------------------- */
body{
    font-family: 'Roboto', 'Sans-Serif';
}

header p{
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: white;
    text-align: center;
    padding-top: 13px;
}

h1{
    font-size: 39px;
    font-weight: 400;
    color: white; 
}

h2{
    font-size: 23px;
    font-weight: 700;
    color: white; 
}

h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: black; 
}

h4{
    font-size: 19px;
    font-weight: 700;
    color: #484848; 
}

.txt-bot1{
    font-size: 21px;
    font-weight: 400;
    color: #FFF5f4; 
    line-height: 52px;
}

.txt-bot2{
    font-size: 21px;
    font-weight: 400;
    color: #818181; 
}

/* Tela 3 ---------------------------------------- */
/* Tela 3-1 */

/* Tela 3-2 */
.pagina-criar-quizz p {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    padding-top: 63px;
    padding-bottom: 12px;
}

.forms input {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    padding-left: 23px;
}

.forms input::placeholder {
    font-style: italic;
    color: #BABABA;
}

.final-button {
    color: #FFF5F4;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

/* Tela 3-3 */


/* Tela 3-4 */
.page-3-4 .quizz-title {
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: white;
}


/* ----- Tags and Divs ---------------------------------------------------------------------- */

body{
    padding-top: 69px;
    background-color: #FAFAFA;
}

.escondido{
    display: none !important;
}

.container-header{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
}

header{
    background-color: #EC362D;
    height: 69px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Tela 1 ---------------------------------------- */

/* Tela 2 ---------------------------------------- */

.titulo{
    
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-quizz{
    margin: 42px auto;
    width: 759px;
}

.quizz{ 
    height:676px ; 
    padding: 28px 36px 36px 36px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 42px;
}

.pergunta{
    background-color: #434ca0;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.respostas{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.img-resposta{
    height: 175px;
    margin-top: 20px;
    margin-bottom: 8px;
    width: 330px;
}

.final-quizz{
    height: 430px;
    padding: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.caixa{
    display: flex;
    justify-content: space-between;
}

.img-final-quizz{
    width: 364px;
    height: 273px;
}

.txt{
    width: 328px;
}

.dados{
    height: 99px;
    background-color: red;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes{
    margin: 57px auto;
    width: 260px;
}

.bot1{
    background-color: red;
    border-radius: 15px;
    height: 52px;
    text-align: center;
}

.bot2{
    height: 44px;
    text-align: center;
    margin-top: 16px;
}

/* CSS TELA 1 */
.seusQuizzes{
    display: flex;
    align-items: center;
    margin-top:69px;
    width: 340px;
}
.conteiner-tela1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 194px;
}
.plus{
    width:31px;
    height: 30px;
    margin-left: 17px;
    color: #EC362D;
}
.criarQuizzBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1051px;
    height: 181px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}
.cardQuizz{
    display: flex;
    width:250px;
    height: 107px;
    font-weight: 400;
    font-size:20px;
    color:#B9B9B9;
    align-items: center;
    text-align: center;
    
}
.criarQuizzButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    margin-bottom:33px;
}

.todosQuizzes{
    margin-top: 77px;
    margin-bottom: 12px;
}
.quizzesBox{
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-auto-rows: 200px;
    row-gap: 12px;
    width: 1051px;
    height: 374px;
}
#model-quiz {
    display: inline-block;
    width: 340px;
    height: 181px;
    position: relative;
  }
  
#model-quiz figcaption {
    position: absolute;
    top: 145px;
    left: 18px;
    font-weight: 400;
    font-size: 19px;
    color:white;
    border-radius: 5px;
  }
  #model-quiz img{
    border-radius: 5px;
  }
/* FIM CSS TELA 1 */

/* ----- Media Query ------------------------------ */
@media (max-width: 375px) {

/* CSS TELA 1 */
    .conteiner-tela1{
        padding-left: 12px;
    }
    .seusQuizzes{
        justify-content: space-between;
        padding:0;
        margin-top:0px;
    }
    .criarQuizzBox{
        width: 340px;
    }

    .conteudo-quizz{
        width: 100%;
    }

    h3{
        font-size: 13px;
    }

    .conteudo-quizz{
        margin: 24px auto;
    }

    h2 ,h1{
        font-size: 19px;
    }

    .img-final-quizz{
        width: 340px;
        height: 255px;
    }

    .caixa{
        flex-direction: column;
        gap: 9px;
    }

    h4{
        font-size: 17px;
    }

    .bot1 ,.bot2{
        height: 44px;
    }

    .botoes{
        width: 220px;
    }
}