*{
    box-sizing: border-box;
}
/* ----- Texts ---------------------------------------------------------------------- */
body{
    font-family: 'Roboto', 'Sans-Serif';
}

header p{
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: white;
    text-align: center;
    padding-top: 13px;
}

h1{
    font-size: 39px;
    font-weight: 400;
    color: white; 
}

h2{
    font-size: 23px;
    font-weight: 700;
    color: white; 
}

h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: black; 
}

h4{
    font-size: 19px;
    font-weight: 700;
    color: #484848; 
    line-height: 25px;
}

.txt-bot1{
    font-size: 21px;
    font-weight: 400;
    color: #FFF5f4; 
    line-height: 52px;
}

.txt-bot2{
    font-size: 21px;
    font-weight: 400;
    color: #818181; 
}

/* Tela 3 ---------------------------------------- */
/* Tela 3-1 */

/* Tela 3-2 */
.page-3 p {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    padding-top: 63px;
    padding-bottom: 12px;
}

.forms input {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    padding-left: 23px;
}

.forms input::placeholder {
    font-style: italic;
    color: #BABABA;
}

.final-button {
    color: #FFF5F4;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

/* Tela 3-3 */


/* Tela 3-4 */
.page-3-4 .quizz-title {
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: white;
}


/* ----- Tags and Divs ---------------------------------------------------------------------- */

body{
    padding-top: 69px;
    background-color: #FAFAFA;
}

.escondido{
    display: none !important;
}

.container-header{
    position: fixed;
    z-index: 3;
    top: 0px;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

header{
    background-color: #EC362D;
    height: 69px;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Tela 1 ---------------------------------------- */
.boxTemp{
    margin-bottom: 48px;
    margin: 12px 0px;
    display: grid;
    width: 1053px;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 15px;
    grid-row-gap: 1em;
    
}
.page-1{
    display: grid;
    justify-content: center;
    align-items: center;
}
.seusQuizzes{
    width: 1051px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 69px;
}
.plus{
    color:#EC362D;
    margin-left: 12px;
    width: 31px;
    height: 30px;
}
.criarQuizzBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1051px;
    height: 181px;
    border: 1px dashed #D4D4D4;
    /* stroke-dasharray: 5 2; */
    border-radius: 5px;
    margin-bottom: 77px;
    margin-top:77px;
}
.textBox{
    width: 250px;
    color:#B9B9B9;
    font-size:20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}
.criarQuizzButton{
    margin-top: 25px;
    width: 136px;
    height: 40px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EC362D;
    border: 1px dashed  #EC362D;
    /* stroke-dasharray: 5 2; */
    border-radius: 50px;
}

.model-quiz {
    display: inline-block;
    width: 340px;
    height: 181px;
    position: relative;
}
  
.model-quiz figcaption {
    position: absolute;
    top: 130px;
    left: 19px;
    font-weight: 400;
    font-size: 19px;
    color:#FFFFFF;
    border-radius: 5px;
}
.model-quiz img{
    border-radius: 5px;
    width: 340px;
    height: 181px;
    background-image: linear-gradient(to top, black, transparent);
}
.todosQuizzesGrid{
    margin: 12px 0px;
    display: grid;
    width: 1053px;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 15px;
    grid-row-gap: 1em;
}
.gap-final{
    height: 200px;
}

/* Tela 2 ---------------------------------------- */

.titulo{
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.filter{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.57);
}

.titulo h1 {
    z-index: 1;
}

.conteudo-quizz{
    margin: 42px auto;
    width: 759px;
}

.quizz{ 
    height:676px ; 
    padding: 28px 36px 36px 36px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 42px;
}

.pergunta{
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.respostas{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.img-resposta{
    height: 175px;
    margin-top: 20px;
    margin-bottom: 8px;
    width: 330px;
}

.final-quizz{
    height: 430px;
    padding: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.caixa{
    display: flex;
    justify-content: space-between;
}

.img-final-quizz{
    width: 364px;
    height: 273px;
}

.txt{
    width: 328px;
}

.dados{
    height: 99px;
    background-color: #EC362D;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-2 .primary {
    margin-top: 57px;
    margin-bottom: 9px;
}

/* Tela 3 ---------------------------------------- */

/* Tela 3-1 */
.page-3-1 .forms {
    padding: 12px 20px 15px 16px;
}

.page-3-1 .forms input {
    margin-bottom: 9px;
}

/* Tela 3-2 */
.forms {
    margin: 24px auto;
    background-color: white;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
    width: 600px;
    padding: 14px 20px 14px 16px;
}

.forms h3 {
    padding: 14px 0px;
}

.forms input {
    width: 100%;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-bottom: 14px;
}

.forms input:focus::placeholder {
    visibility: hidden;
}

.separator {
    height: 18px;
}

.closed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closed ion-icon {
    font-size: 23px;
}

.final-button {
    width: 354px;
    height: 54px;
    display: block;
    margin: 56px auto;
    background-color: #EC362D;
    border-radius: 15px;
}

/* Tela 3-3 */

/* Tela 3-4 */
.quizz-thumb {
    position: relative;
    width: 500px;
    height: 266px;
    margin: 34px auto;
}

.page-3-4 .quizz-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.quizz-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(#ffffff 0%, #000000 50%, #000000 80%);
    border-radius: 5px;
}

.page-3-4 .quizz-title {
    position: absolute;
    z-index: 2;
    left: 23px;
    bottom: 9px;
}

.page-3-4 .primary {
    margin-top: 12px;
    margin-bottom: 9px;
}

.secondary {
    margin-top: 0px;
    margin-bottom: 56px;
    background-color: #FAFAFA;
    color: #818181;
}

/* ----- Media Query ------------------------------ */
@media (max-width: 1100px) {

/* Tela 1 ---------------------------------------- */
    .seusQuizzes{
        justify-content: space-between;
        width: 340px;
        padding:0;
        margin-top:0px;
    }
    .criarQuizzBox{
        width: 340px;
    }
    .todosQuizzesGrid{
        grid-template-columns: 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 1em;
    }
    .page-1{
        display: block;
        margin-left: 12px;
    }

/* Tela 2 ---------------------------------------- */
    .conteudo-quizz{
        width: 100%;
    }

    h3{
        font-size: 13px;
    }

    .conteudo-quizz{
        margin: 24px auto;
    }

    h2 ,h1{
        font-size: 19px;
    }

    .img-final-quizz{
        width: 340px;
        height: 255px;
    }

    .caixa{
        flex-direction: column;
        gap: 9px;
    }

    h4{
        font-size: 17px;
    }

/* Tela 3 ---------------------------------------- */
    .forms {
        width: 100vw;
    }

    .page-3 h3{
        font-size: 20px;
    }

    .page-3 p {
        padding-top: 38px;
        padding-bottom: 5px;
    }

    .final-button {
        font-size: 18px;
        line-height: 21px;
    }

    .primary {
        margin-top: 5px;
    }

    .page-3-4 .quizz-thumb {
        width: 340px;
        height: 181px;
        margin: 24px auto;
    }

    .page-3-4 .quizz-title {
        font-size: 19px;
        line-height: 22px;
    }

    .page-3-4 .primary {
        margin-top: 0px;
    } 

}