*{
    box-sizing: border-box;
}
/* ----- Texts ---------------------------------------------------------------------- */
body{
    font-family: 'Roboto', 'Sans-Serif';
}

header p{
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: white;
    text-align: center;
    padding-top: 13px;
}

h1{
    font-size: 39px;
    font-weight: 400;
    color: white; 
}

h2{
    font-size: 23px;
    font-weight: 700;
    color: white; 
}

h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: black; 
}

h4{
    font-size: 19px;
    font-weight: 700;
    color: #484848; 
}

.txt-bot1{
    font-size: 21px;
    font-weight: 400;
    color: #FFF5f4; 
    line-height: 52px;
}

.txt-bot2{
    font-size: 21px;
    font-weight: 400;
    color: #818181; 
}

/* Tela 3 ---------------------------------------- */
/* Tela 3-1 */

/* Tela 3-2 */
.pagina-criar-quizz p {
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    padding-top: 63px;
    padding-bottom: 12px;
}

.forms input {
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    padding-left: 23px;
}

.forms input::placeholder {
    font-style: italic;
    color: #BABABA;
}

.final-button {
    color: #FFF5F4;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

/* Tela 3-3 */


/* Tela 3-4 */
.page-3-4 .quizz-title {
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: white;
}


/* ----- Tags and Divs ---------------------------------------------------------------------- */

body{
    padding-top: 69px;
    background-color: #FAFAFA;
}

.escondido{
    display: none !important;
}

.container-header{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
}

header{
    background-color: #EC362D;
    height: 69px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Tela 1 ---------------------------------------- */

/* Tela 2 ---------------------------------------- */

.titulo{
    background-image: url(./media/auxiliar.jpg);
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-quizz{
    margin: 42px auto;
    width: 759px;
}

.quizz{ 
    height:676px ; 
    padding: 28px 36px 36px 36px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 42px;
}

.pergunta{
    background-color: #434ca0;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.respostas{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.img-resposta{
    height: 175px;
    margin-top: 20px;
    margin-bottom: 8px;
    width: 330px;
}

.final-quizz{
    height: 430px;
    padding: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.caixa{
    display: flex;
    justify-content: space-between;
}

.img-final-quizz{
    width: 364px;
    height: 273px;
}

.txt{
    width: 328px;
}

.dados{
    height: 99px;
    background-color: red;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes{
    margin: 57px auto;
    width: 260px;
}

.bot1{
    background-color: red;
    border-radius: 15px;
    height: 52px;
    text-align: center;
}

.bot2{
    height: 44px;
    text-align: center;
    margin-top: 16px;
}

/* Tela 3 ---------------------------------------- */

/* Tela 3-1 */
.page-3-1 .forms {
    padding: 12px 20px 15px 16px;
}

.page-3-1 .forms input {
    margin-bottom: 9px;
}

/* Tela 3-2 */
.forms {
    margin: 24px auto;
    background-color: white;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
    width: 600px;
    padding: 14px 20px 14px 16px;
}

.forms h3 {
    padding: 14px 0px;
}

.forms input {
    width: 100%;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-bottom: 14px;
}

.forms input:focus::placeholder {
    visibility: hidden;
}

.separator {
    height: 18px;
}

.closed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closed ion-icon {
    font-size: 23px;
}

.final-button {
    width: 354px;
    height: 54px;
    display: block;
    margin: 56px auto;
    background-color: #EC362D;
    border-radius: 15px;
}

/* Tela 3-3 */

/* Tela 3-4 */
.quizz-thumb {
    position: relative;
    width: 500px;
    height: 266px;
    margin: 0px auto;
}

.page-3-4 .quizz-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.quizz-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.63%, rgba(0, 0, 0, 0.8) 100%);
}

.page-3-4 .quizz-title {
    position: absolute;
    z-index: 2;
    left: 23px;
    bottom: 9px;
}

.page-3-4 .primary {
    margin-bottom: 9px;
}

.secondary {
    margin-top: 0px;
    margin-bottom: 56px;
    background-color: #FAFAFA;
    color: #818181;
}

/* ----- Media Query ------------------------------ */
@media (max-width: 375px) {
    .titulo{
        height: 142px;
    }
    .quizz{
        height: 436px;
        padding: 18px;
        margin-bottom: 28px;
    }
    .img-resposta{
        height: 113px;
        width: 163px;
    }
    .pergunta{
        height: 89px;
        width: 340px;
    }

    .conteudo-quizz{
        width: 100%;
    }

    h3{
        font-size: 13px;
    }

    .conteudo-quizz{
        margin: 24px auto;
    }

    h2{
        font-size: 19px;
    }

    .img-final-quizz{
        width: 340px;
        height: 255px;
    }

    .caixa{
        flex-direction: column;
        gap: 9px;
    }

    h4{
        font-size: 17px;
    }

    .bot1 .bot2{
        height: 44px;
    }

    .botoes{
        width: 220px;
    }
}